
.root {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.field_container {
    position: relative;
    width: 100%;
}

.field {
    outline: none;
    border: none;
    font-size: var(--text-md);
    width: 100%;
}

.field__primary {
    background-color: var(--bg-primary);
    color: var(--text-secondary);
}

.field__secondary {
    background-color: var(--text-secondary);
    color: var(--text-primary);
}

.field__xs {
    padding: var(--padding-xs);
    font-size: var(--text-xs);
}

.field__sm {
    padding: var(--padding-sm);
    font-size: var(--text-sm);
}

.field__md {
    padding: var(--padding-md);
    font-size: var(--text-md);
}

.field__lg {
    padding: var(--padding-lg);
    font-size: var(--text-lg);
}

.field__xl {
    padding: var(--padding-xl);
    font-size: var(--text-xl);
}

.field__border-none {
    border-radius: 0;
}

.field__border-xs {
    border-radius: var(--radius-xs);
}

.field__border-sm {
    border-radius: var(--radius-sm);
}

.field__border-md {
    border-radius: var(--radius-md);
}

.field__border-lg {
    border-radius: var(--radius-lg);
}

.field__border-xl {
    border-radius: var(--radius-xl);
}

.field__withLeftIcon {
    padding-left: 42px;
}

.icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);

    width: 20px;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.errorIcon {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.error__icon__primary path {
    fill: var(--color-error-text);
}

.error__icon__secondary path {
    fill: var(--color-error-text-secondary);
}

.label {
    font-weight: 500;
    line-height: 1.2;
    cursor: pointer;
}

.label__primary {
    color: var(--text-secondary);
}

.label__secondary {
    color: var(--text-primary);
}

.label__xs {
    font-size: var(--text-xs);
}

.label__sm {
    font-size: var(--text-sm);
}

.label__md {
    font-size: var(--text-md);
}

.label__lg {
    font-size: var(--text-lg);
}

.label__xl {
    font-size: var(--text-xl);
}

.error {
    color: var(--color-error-text);
    line-height: 1.2;
}

.error__primary {
    color: var(--color-error-text);
}

.error__secondary {
    color: var(--color-error-text-secondary);
}

.error__xs {
    font-size: var(--text-xs);
}

.error__sm {
    font-size: var(--text-sm);
}

.error__md {
    font-size: var(--text-md);
}

.error__lg {
    font-size: var(--text-lg);
}

.error__xl {
    font-size: var(--text-xl);
}