.button {
    padding: var(--padding-md);
    font-size: var(--text-md);
    border-radius: var(--radius-md);
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.button__primary {
    background-color: var(--bg-primary);
    color: var(--text-secondary);
}

.button__primary:hover {
    background-color: var(--hover-primary);
}

.button__secondary {
    background-color: var(--text-secondary);
    color: var(--bg-primary);
}

.button__secondary:hover {
    background-color: var(--hover-secondary);
}

.button__xs {
    padding: var(--padding-xs);
    font-size: var(--text-xs);
    border-radius: var(--radius-xs);
}

.button__sm {
    padding: var(--padding-sm);
    font-size: var(--text-sm);
    border-radius: var(--radius-sm);
}

.button__md {
    padding: var(--padding-md);
    font-size: var(--text-md);
    border-radius: var(--radius-md);
}

.button__lg {
    padding: var(--padding-lg);
    font-size: var(--text-lg);
    border-radius: var(--radius-lg);
}

.button__xl {
    padding: var(--padding-xl);
    font-size: var(--text-xl);
    border-radius: var(--radius-xl);
}
