html {
    cursor: default;
    scroll-behavior: smooth;
}

* {
    padding: 0px;
    margin: 0px;
    border: none;
}

hr {
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a,
:link,
:visited {
    text-decoration: none;
    color: inherit;
}

:hover {
    text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ul li {
    list-style: none;
}

img {
    vertical-align: top;
    user-select: none;
    pointer-events: none;
}

img,
svg {
    width: auto;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

::-ms-clear {
    display: none;
}

button,
input[type='submit'] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

:focus,
:active,
:focus,
:active {
    outline: none;
}

::-moz-focus-inner {
    padding: 0;
    border: 0;
}

legend {
    display: block;
}
