:root {
    --base-font: 'Poppins', sans-serif;

    --text-primary: #121212;
    --text-secondary: #f9f9f9;

    --hover-primary: rgba(18, 18, 18, 0.85);
    --hover-secondary: rgb(249, 249, 249, 0.85);

    --active-primary: #202020;
    --active-secondary: #e6e6e6;

    --bg-primary: #121212;
    --bg-secondary: #f9f9f9;

    --text-xs: 12px;
    --text-sm: 14px;
    --text-md: 16px;
    --text-lg: 20px;
    --text-xl: 24px;

    --padding-xs: 4px 8px;
    --padding-sm: 8px 14px;
    --padding-md: 10px 24px;
    --padding-lg: 12px 28px;
    --padding-xl: 14px 38px;

    --radius-xs: 8px;
    --radius-sm: 12px;
    --radius-md: 16px;
    --radius-lg: 20px;
    --radius-xl: 24px;
}
